@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #33CC33;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
}

.scanlines {
  background-image: linear-gradient(45deg, #111 25%, transparent 25%, transparent 75%, #111 75%, #111), 
  linear-gradient(45deg, #111 25%, transparent 25%, transparent 75%, #111 75%, #111);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  animation: scanlines 0.05s linear infinite;
}

@keyframes scanlines {
  0% {
    background-position: 0 0, 5px 5px;
  }
  100% {
    background-position: 10px 0, 5px 10px;
  }
}

.flicker {
  animation: flicker 0.1s linear infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
